* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  background-image: url("img/fondo3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {  
  display: flex;
  flex-direction: row;
  min-height: 100vh; /*ocupa toda la pantalla*/
}

ol {
  list-style: none;
}

hr {
  border: solid rgba(0, 0, 0, 0.269) 1px;
}

footer {
  color: white;
  text-align: bottom;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*columna izquierda*/
.izquierda {
  border-top: 10px;
  background-color: rgba(255, 255, 255, 0.718);
  width: 180px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

/*columnna derecha*/
.derecha {
  flex: 1;
  padding: 0;
  margin: 0;
}

.arrastra{
  padding-top: 60px;
  text-align: center;
  font-size: 50px;

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*imagenes*/
.logo {
  width: 80px;
}
.nube {
  width: 120px;
}
.flecha {
  padding-top: 20px;
  width: 45px;
  display: block;
  margin: auto;
}

/*caja de arrastre*/
.droparea {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 384px;
  max-width: 100%;
  height: 160px;
  border: 4px dashed rgba(19, 46, 134, 0.568);
  background-color: rgba(252, 248, 248, 0.213);
  border-radius: 15px;
}

/*js*/
.green-border {
  background: rgba(104, 101, 101, 0.5); 
  border: none;
  color: #fff;
}

/*oculta js*/
.hidden {
  display: none;
}

/*texto de carga*/
.loader {
  margin-top: 20px;
  text-align: center;
}

/*ruedita de carga*/
.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto 10px;
  border: 4px solid #ccc;
  border-top: 4px solid #2ecc71;
  border-radius: 50%;
  animation: girar 1s linear infinite;
}

/*Animación de giro para el spinner*/
@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu {
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  /*border-radius: 12px;
  background-color: rgba(179, 215, 236, 0.733);*/
}

.tituloMenu{
  text-align: center;
  padding-bottom: 10px;
}

/*Botones*/
#btnFrecuencia, #btnTop, #btnReporte {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  font-size: 20px;
  cursor: pointer;
}