* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  background-image: url("img/fondo3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {  
  display: flex;
  flex-direction: row;
  min-height: 100vh; /*ocupa toda la pantalla*/
}

ol {
  list-style: none;
}

hr {
  border: solid rgba(0, 0, 0, 0.269) 1px;
}

footer {
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*columna izquierda*/
.izquierda {
  border-top: 10px;
  /*background-color: rgba(255, 255, 255, 0.718);*/
  background-image: url("img/colum.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 180px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

/*columnna derecha*/
.derecha {
  flex: 1;
  padding: 0;
  margin: 0;
}

.arrastra{
  color: white;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 5px 2px black;

}

/*imagenes*/
.logo {
  width: 80px;
}
.nube {
  width: 130px;
}
.flecha {
  padding-top: 20px;
  width: 45px;
  display: block;
  margin: auto;
}

/*caja de arrastre*/
.droparea {
  font-size: 20px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 180px;
  border: 4px dashed rgba(19, 46, 134, 0.568);
  background-color: rgba(252, 248, 248, 0.213);
  border-radius: 15px;
}

/*js*/
.green-border {
  background: rgba(104, 101, 101, 0.5); 
  border: none;
  color: #fff;
}

/*oculta js*/
.hidden {
  display: none;
}

.menu {
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  font-size: 25px;
  /*border-radius: 12px;
  background-color: rgba(179, 215, 236, 0.733);*/
}

.tituloMenu{
  text-align: center;
  padding-bottom: 10px;
}

/*Botones*/
#btnFrecuencia, #btnTop, #btnReporte {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: solid black 1px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

/*Interfaz de resultados*/
.resultados {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Frecuencia*/
#busquedaBox {
  background-color: rgba(207, 214, 218, 0.507);
  padding: 30px;
  padding-top: 15px;

  
  align-items: center;
  gap: 15px;
}
.tituloBusqueda {
  text-align: center;
}
.listaErrores {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;

  width: 100%;
}
#inputCodigo {
  font-size: 16px;
  width: 250px;

  padding: 10px;

  border-radius: 10px;
  border: none;
}
#btnBuscarCodigo {
  font-size: 16px;
  padding: 10px 20px;

  border-radius: 10px;

  border: none;
  cursor: pointer;
}
#btnCerrarFrecuencia {
  font-size: 16px;
  padding: 10px 20px;

  border-radius: 10px;

  border: none;
  cursor: pointer;
}

/*Top 5*/
#top5Box {
  background-color: rgba(207, 214, 218, 0.507);
  padding: 20px;;
  
  width: 320px;
  margin-top: 20px;
}

#top5Box h2 {

  text-align: center;

  margin-bottom: 10px;
}

#top5List {
  padding: 10px;
  padding-left: 15px;
  list-style: decimal;

  font-size: 18px;
}

#top5List li {
  margin-bottom: 5px;
}